.hover-underline-animation {
    
    position: relative;
    color: 
  red;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: 
  white;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;

  }

  .hover-underline{
    position: relative;
    color: 
  red;
  }
  
  .hover-underline:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: 
  #1D7B8A;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;

  }

  .margin{
    margin-left: 100px;
    padding-inline-start: 2em;
    padding: 0px;
    font-size: 14px;
    
  }

   .space .nav-space{

    margin-right: 20px;
    margin-left: 20px;

   }
  